@import "tailwindcss";

@theme {
  --color-dark-900: #1a1a1a;
  --color-dark-800: #2d2d2d;
  --color-dark-700: #3a3a3a;
  --color-dark-600: #4a4a4a;
  --color-yellow-bright: #FFD700;
}

body {
  @apply bg-dark-900 text-white;
}